@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --theme: #20062e;
  --blue: #18b2de;
  --white: #fff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
}

body {
  margin: 0;
  font-family: -"Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-size: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.input-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.podcasts-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.banner-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.podcast-description {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.podcast-title-heading {
  font-size: 2rem;
  margin: 1rem 0;
}

.episode-list {
  margin-top: 1rem;
}

.episode-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}
